
.carts-good {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.choose {
    width: 5.33vw;
    margin-left: 4vw;
    margin-right: 3vw;
}
.choose img {
    width: 5.33vw;
    margin-top: 17vw;
}
.goodImg img {
    width: 30.4vw;
    height: 30.4vw;
}
.goodTitle {
    font-size: 4.26vw;
    color: #000;
    line-height: 5.06vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 49vw;
}
.good-info {
    padding-top: 5.06vw;
    width: 52vw;
}
.goodSize {
    margin: 1.2vw 0;
    display: flex;
    justify-content: space-between;
}
.goodSize img {
    width: 2.67vw;
}
.goodSize > span {
    font-size: 2.93vw;
    color: #ccc;
    line-height: 3.46vw;
    margin-top: 1.69vw;
}
.goodSize .goodnum {
    width: 50%;
    line-height: 3.46vw;
    margin-top: 1.69vw;
}
.goodSize .goodnum > span {
    font-size: 4vw;
}
.goodSize .goodnum img {
    width: 2.8vw;
    padding:0 3vw 
}
.goodPrice {
    font-size: 3.46vw;
    color: #030303;
    font-weight: bold;
    line-height: 4vw;
    margin-top: 2.66vw;
}
.carts-good {
    margin-bottom: 4vw;
    background: #fff;
}
.hello {
    background: #f8f6f6;
}
.buynow button {
    display: block;
    width: 30.66vw;
    line-height: 15vw;
    background: #02d4d7;
    color: #fff;
    font-weight: bolder;
    border: 0;
    padding: 0;
}
.chooseAll {
    float: left;
    margin-left: 3vw;
    margin-right: 1.33vw;
}
.chooseAll img {
    width: 5.33vw;
    margin-top: 4.34vw;
    float: left;
}
.chooseAll span {
    display: inline-block;
    padding-top: 4.53vw;
    padding-bottom: 4.53vw;
    font-size: 4vw;
    color: #333;
    line-height: 5.6vw;
    width: 9vw;
    text-align: center;
    margin-right: 4vw;
    float: left;
 }
.cleanCarts p {
    font-size: 3.46vw;
    color: #333;
    line-height: 4.93vw;
    width: 8.06vw;
    text-align: center;
    margin-right: 0.12vw;
    padding-top: 4.93vw;
}
.count {
    line-height: 6.4vw;
    text-align: left;
    width: 30vw;
    margin-left: 8vw;
}
.discount {
    padding-left: 12.33vw;
}
.way{
    color: #f2495e;
    margin-right: 1.333vw;
    font-weight: bold;
    line-height: 5.33vw;
    margin-top: 3.86vw;
    margin-bottom: 3.86vw;
    font-size: 3.73vw;
    display: inline-block;
}
.carts-list {
    margin-bottom: 30vw;
}
.content {
    line-height: 5.33vw;
    margin-top: 3.86vw;
    margin-bottom: 3.86vw;
    display: inline-block;
    font-size: 3.73vw;
}
.Recommend {
    padding-top: 17.2vw;
    padding-left: 3.6vw;
    overflow: hidden;
    margin-bottom: 22vw;
}
.line {
    padding-left: 22.3vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
}
.line p {
    width: 52.3vw;
    height: 2px;
    background: #333;
}
.Recommend-title {
    margin-bottom: 12.26vw;
    text-align: center;
}
.content {
    overflow: hidden;
}
.content .good{
    padding-right: 1.73vw;
    padding-bottom: 8.26vw;
    float: left;
    width: 48%;
}
.good .goodImg {
    width: 100%;
}
.good .goodImg img {
    width: 44vw;
    height: 44vw;
}
.goodInfo p:nth-of-type(1) {
    line-height: 5.33vw;
    font-size: 3.73vw;
    color: #333;
    margin-bottom: 2.4vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1.2vw;
    font-weight: bold;
    width: 100%;
    float: left;
}
.goodInfo p:nth-of-type(2) {
    font-size: 3.46vw;
    color: #333;
    line-height: 3.46vw;
    font-weight: bold;
    float: left;
}
.goodInfo .buy {
    float: right;
} 
.goodInfo .buy img {
    width: 5.6vw;
    margin-top: -18px;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18vw;
    position: fixed;
    bottom: 0vw;
    background: #fff;
}
.footer .discount {
    padding: 0;
}